.tax_btn{
  background-color: #3d8bfd;
  color: #fff;
  display: inline-flex;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  letter-spacing: 0.01em;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.tax_icon_button{
  font-size: 3rem;
  width: 1em;
  height: 1em;
  border-radius: 0.125em;
  background-color:  #3d8bfd;
  color:#fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.tax_icon_button * {
  font-size: 0.4em;
}

#cover_image_column{
  width: 64px;
}
.column-cover_image_column img{
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 0.5rem;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.12);
}
.cover_image_column .empty{
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: color-mix(in srgb, transparent 90%, currentcolor);
  border-radius: 0.5rem;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.12);
}
#cover_image_input_wrap{
  opacity: 0;
  pointer-events: none;
}
#cover_image,
#cover_image *{
  box-sizing: border-box;
}
#cover_image{
  width: 100%;
  padding:1.5rem;
  background-color: rgba(0,0,0,0.06);
  border-radius: 0.5rem;
  height: 100vh;
  max-height: 320px;
  position: relative;
}
#cover_image.new_tag{
  max-height: 240px;
  max-width: 95%;
}

#click_upload_cover{
  position: absolute;
  inset:0;
  display: flex;
}
#preview_cover{
  position: absolute;
  inset: 0.5rem;
}
#preview_cover img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#preview_cover .delete_cover{
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.75rem;
}
#preview_cover .delete_cover .tax_icon_button{
  background-color: #e35d6a;;
}
#preview_cover:not(:empty) ~ #cover_no_image{
  display: none;
}
#cover_no_image{
  position: absolute;
  inset: 0.5rem;
  justify-content: center;
  align-items: center;
  display: flex;
}
